<h1>Time to Get in Shape, YOU FATTY</h1>



<form action="/" method="post" id="workoform">
    <label for="Your Data">Your Exercise Data:</label>
    <input id="name" type="text" name="name" placeholder="exercise name">
    <input id="reps" type="text" name="reps" placeholder="reps">
    <input id="weight" type="text" name="weight" placeholder="weight">
    <input id="date" type="text" name="date" placeholder="date">
    <input id="lbs" type="number" name="lbs" placeholder="0 for kg or 1 for lbs">
    <input type="submit" name="Exercise" id="exercise" value="add" onclick="return surprise()">
</form>





<table>
    <thead>
        <trow>
            <th>Exercise Name</th>
            <th>Reps</th>
            <th>Weight</th>
            <th>Date</th>
            <th>lbs/kg</th>


        </trow>
    </thead>
    <tbody id="tbody">
        {{#if results}} {{#each results}}
        <tr id="row{{this.id}}">
            <td>{{this.name}}</td>
            <td>{{this.reps}}</td>
            <td>{{this.weight}}</td>
            <td>{{this.date}}</td>
            <td>{{this.lbs}}</td>
            <td>
                <form method="post">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <input type="submit" name="edit" value="Edit">
                    <input class="deleteWorkout" type="submit" name="delete" value="Delete">
                </form>
            </td>
        </tr>
        {{/each}} {{/if}}
    </tbody>
</table>
</tbody>

</table>

<script type="text/javascript">
    function surprise() {
document.getElementsById
    ('exercise').addEventListener('click', function(event){
		var req = new XMLHttpRequest();
		var payload = {};
        console.log("4");
		payload.name = document.getElementById('name').value;
		payload.reps = document.getElementById('reps').value;
		payload.weight = document.getElementById('weight').value;
		payload.date = document.getElementById('date').value;
		payload.units = document.getElementById('lbs').value;
		payload.workout = true;
            
		req.open('POST', '/', true);
        alert("3645");
		req.setRequestHeader('Content-Type', 'application/json');
		req.addEventListener('load',function(){
			if(req.status >= 200 && req.status < 400){
				var response = JSON.parse(req.responseText);
                console.log("word");
				var mainTable = document.getElementById('tbody');
				var newRow = document.createElement('tr');
				newRow.setAttribute('id', 'row' + response.id);
				mainTable.appendChild(newRow);

				for (var i = 0; i < 6; i++){
					var newCell = document.createElement('td');
					newRow.appendChild(newCell);
				}

				newRow.children[0].textContent = response.name;
				newRow.children[1].textContent = response.reps;
				newRow.children[2].textContent = response.weight;
				newRow.children[3].textContent = response.date;
				newRow.children[4].textContent = response.lbs;
            }
        });
        });
};
    
</script>

<script src = "public/script.js"></script>

